<%- include('header') %>
<div style="background-color: black;" class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count"><%=totalemployee %></span>
					<span class="dbox__title">Total employee</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-download"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count"><%= totaljobrole%></span>
					<span class="dbox__title">Total job ROle</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count"><%=today_presence_employee%></span>
					<span class="dbox__title">Today present employee</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
		</div>
	</div>
<%- include('footer') %>