<%- include('header') %>

<div class="signup-form">
  <h2><%=title%></h2>
  <br />
  <br />
  <br />
  <br />
  <form action="/view-allemployee/edit/" method="post" class="form-horizontal">
  <input type="hidden" name="id" value="<%=id%>">
    <%if(success !=''){%>
    <p style="text-align: center; color: green"><%=success%></p>
    <%}%>
    <div class="row">
      <div class="col-8 offset-4">
        <h2>edit_employee employee</h2>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-4">Employee name</label>
      <div class="col-8">
        <input
          type="text"
          value="<%= recod.Ename %> "
          placeholder="please enter employee name"
          class="form-control"
          name="employeename"
          required="required"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4">Employee Email</label>
      <div class="col-8">
        <input
          type="text"
          value="<%=recod.Eemail%>"
          placeholder="please enter email"
          class="form-control"
          name="email"
          required="required"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-4">city</label>
      <div class="col-8">
        <input
          type="text"
          value="<%=recod.city %>"
          placeholder="please enter city"
          class="form-control"
          name="city"
          required="required"
        />
      </div>
    </div>

    <select class="form-control" name="role_details">
        <option value="">Chose Job role</option>
        <% if(recods){
             recods.forEach(function(row){
                  %>
        <option value="<%=row.username %>" <% if(row.username==recods.job){%> selected  <%}%>> <%= row.username %></option>
        <% })}%>
      </select>
    <div class="form-group row">
      <div class="col-8 offset-4">
        <button type="submit" class="btn btn-primary btn-lg">
          Update Recod
        </button>
      </div>
    </div>
    <div class="text-center">
      <a href="/view-allemployee">View ALL Employee </a>
    </div>
  </form>
</div>

<%- include('footer') %>
