<%- include('header') %>

<div class="signup-form">
  <h2><%=title%></h2>
  <br />
  <br />
  <br />
  <br />
  <form action="/view-jobRole/edit/" method="post" class="form-horizontal">
    <input type="hidden" name="id" value="<%=id%>" />
    <% if(success !=''){%>
    <p style="text-align: center; color: green"><%=success%></p>
    <%}%>
    <div class="row">
      <div class="col-8 offset-4">
        <h2>Adit job Role</h2>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4">Job Role</label>
      <div class="col-8">
        <input
          type="text"
          value="<%= recods.username %>"
          placeholder="please enter job Role"
          class="form-control"
          name="jobrole"
          required="required"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-8 offset-4">
        <button type="submit" class="btn btn-primary btn-lg">Update Role</button>
      </div>
    </div>
    <div class="text-center">
      <a href="/view-jobRole">View ALL job Role</a>
    </div>
  </form>
</div>

<%- include('footer') %>
